# Dependencies
node_modules

# yarn error logs
yarn-error.log

# Environment varibales
!.env*.example

**/.DS_Store
*.xlsx
**/randomMadde.txt
.env
.env.local
.env.development
.env.production
.env.test
.env.debug
.env.development.local
.env.production.local
.env.test.local
